    <table id="tablaUsuarios" class="table">
        <thead>
            <tr>
                <th>LOGIN</th>
                <th>RUT</th>
                <th>NOMBRE USUARIO</th>
                <th>APELLIDO</th>
                <th>ACCION</th>
            </tr>

        </thead>    
          
        
        
        
        <tbody>
         <tr th:each="usuario:${arraylistusuario}">
                <td th:text="${usuario.login}"></td>
                <td th:text="${usuario.rut}"></td>
                <td th:text="${usuario.usuarionom}"></td>
                <td th:text="${usuario.usuarioap}"></td>
                <td><button type="button" th:onclick="buscarUsuario([[${usuario.login}]]);">Seleccionar</button></td>
            
         </tr>
            </tbody> 
    </table>