<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Búsqueda</title>
    <!-- Cargar Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="../scripts/ListadoUsuario.js"></script>
</head>
<body>

<div class="container mt-5">
    <h2>Formulario de Búsqueda</h2>
    <!-- Formulario de búsqueda -->
    <form action="#" method="POST" name="formusuario">
        <div class="mb-3">
            <label for="UsuarioLogin" class="form-label">Buscar por Login</label>
            <div class="input-group">
                <input type="text" class="form-control" id="UsuarioLogin" name="UsuarioLogin" placeholder="Ingrese el Login">
                <button class="btn btn-primary" type="button" onclick="BusquedaLogin(UsuarioLogin.value);" name="buscalogin" value="buscar_nombre">Buscar Login</button>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="UsuarioNombre" class="form-label">Buscar por Nombre</label>
            <div class="input-group">
                <input type="text" class="form-control" id="UsuarioNombre" name="UsuarioNombre" placeholder="Ingrese el nombre">
                <button class="btn btn-primary" type="button"  onclick="BusquedaNombre(UsuarioNombre.value);" name="action" value="buscar_nombre">Buscar Nombre</button>
            </div>
        </div>

        
        <div class="mb-3">
            <label for="UsuarioApellido" class="form-label">Buscar por Nombre</label>
            <div class="input-group">
                <input type="text" class="form-control" id="UsuarioApellido" name="UsuarioApellido" placeholder="Ingrese el nombre">
                <button class="btn btn-primary" type="button"  onclick="BusquedaApellido(UsuarioApellido.value);" name="action" value="buscar_nombre">Buscar Nombre</button>
            </div>
        </div>

        
        
        
        
        
        
        
        
        
        
        <div class="mb-3">
            <label for="rut" class="form-label">Buscar por RUT</label>
            <div class="input-group">
                <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese el RUT">
                <button class="btn btn-primary" type="submit" name="action" value="buscar_rut">Buscar RUT</button>
            </div>
        </div>
    </form>

    <hr>

    <h4>Resultados de Búsqueda</h4>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Login</th>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Accion</th>
                
            </tr>
        </thead>
        <tbody>
             <tr th:each="usuario:${arraylistusuario}">
                <td th:text="${usuario.login}"></td>
                <td th:text="${usuario.rut}"></td>
                <td th:text="${usuario.usuarionom}"></td>
                <td th:text="${usuario.usuarioap}"></td>
                <td><button type="button" th:onclick="buscarUsuario([[${usuario.login}]]);">Seleccionar</button></td>
            
         </tr>
        </tbody>
    </table>
</div>

<!-- Cargar Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>