<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>    
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> <!?Con esto garantizamos que se vea bien en dispositivos móviles?> 
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
<link rel="stylesheet" type="text/css" href="css/estilo.css" media="screen" />
<title>APPDTEWS</title>
    </head>
    <body>
<nav class="navbar navbar-default" role="navigation">
<div  class="navbar-header">
    <!-- <a class="navbar-brand" href="#">WebSiteName</a>  -->
   <!--  <a class="navbar-brand" href="#"><img src="../static/img/logo2.jpg" style="margin-top:-15px; margin-left: -15px;"></a>
 -->
    </div>
 
  
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
   
       <li class="dropdown">   
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <span class="glyphicon glyphicon-cog">  
               </span> 
            MANTENCION<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href=secured/empresa>EMPRESAS</a></li>
          <!-- <li><a href="cesionario">CESIONARIOS</a></li> -->
          <li><a href="secured/usuario">USUARIOS</a></li>
          <li><a href="secured/adminCAF">ADMINISTRACION CAF</a></li>    
          <li><a href="secured/adminCert">CARGA CERTIFICADO DIGITAL</a></li>
          <li><a href="secured/setFirmaPass">CLAVE FIRMA ELECTRONICA</a></li>          
          <li><a href="secured/setpass">CAMBIO PASSWORD ADMINISTRADOR</a></li>
     </ul>
       </li>
        
       <!--
      <li class="dropdown">  
      
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <span class="glyphicon glyphicon-search">  
               </span> 
            CONSULTAS SII<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
         <li><a href="ConsultaSII">CONSULTA DE ESTADO DE DTE</a></li>
     
            <li><a href=empresa>CONSULTA DE ACEPTACION</a></li>
              </ul>
       </li>    
      -->
       
      
       <li class="dropdown">
         <a href="logout">
          <span class="glyphicon glyphicon-log-out"></span>SALIR
        </a>
       </li>
  </div>
        </div>
  </nav>
        <div align="center">
            <table>
                <tr>
                    <th colspan="2">
                        EMPRESA SELECCIONADA
                    </th>
                </tr>
                <tr>
                    <td>
                        RAZON SOCIAL
                    </td>
                    <td th:text="${empresa.empresaraz}">
                    </td>               
                </tr>
                <tr>
                    <td>
                        RUT
                    </td>
                    <td th:text="${empresa.empresarut}">
                   </td>               
                </tr>
                
            </table>
            
            
        </div>
                 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
